:root {
  --background-color: black;
  --foreground-color: white;

}

body {
  background-color: var(--background-color);
  color: white;
}

main {
  padding: 20px;
  margin: 20px auto;
  max-width: 900px;
  background-color: var(--white);
  border-radius: var(--corner-rad);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* LINKS */ 

a {
  color: #aaddff;
  text-decoration: none;
}

a:visited, a:active {
  color: #9aff9a;
  text-decoration: underline;
}

a:hover, a:focus{
  text-decoration: underline;
}


/* SKINS */ 

#skin {
  border: 5px white dashed;
}

/* TABLE */ 

table td:nth-of-type(odd) {
  background-color: ;
}
