:root {
  --background-color: black;
  --foreground-color: white;

}

body {
  background-color: var(--background-color);
  color: white;
}

main {
  padding: 20px;
  margin: 20px auto;
  background-color: var(--white);
  border-radius: var(--corner-rad);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

/* Headings */ 

h1 {
  /* Page numer */
  text-align: center;
  
}

h2 {
  /* Skin Name */ 
  text-align: center;
}

/* LINKS */ 

a {
  color: #aaddff;
  text-decoration: none;
}

a:visited, a:active {
  color: #9aff9a;
  text-decoration: underline;
}

a:hover, a:focus{
  text-decoration: underline;
}


/* SKINS */ 

.skin {
  padding: 10px;
  width: auto;
  max-width: 20%;
  margin: 10px;

  border: 5px white solid;
}

.skin .media img {
  max-width: 50%;
}


.skins {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
}

.csv {
  max-width: inherit;
  word-wrap: break-word;
}



/* TABLE */ 

table {
  text-align: left;
}

table td:nth-of-type(odd) {
  background-color: ;
}
